.input {
	font-style: normal;
	color: var(--black-color);
	border-radius: 10px;
	font-size: 17px;
	padding: 20px;
	width: 324px;
	font-weight: 400;
	line-height: 19px;
	font-family: inherit;
	border: none;
	border: 1px solid var(--gray-color);
}
