.exit-button {
	width: 117px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 9px;
	border-radius: 29px;
	border: none;
	color: var(--white-color);
	gap: 9px;
	background: var(--primary-color);
	margin-top: auto;
	transition: background 0.25s;
}
.exit-button:hover {
	background: var(--primary-hover-color);
}
