.menu-item a {
	cursor: pointer;
	transition: color 0.25s;
}
.menu-item:hover a {
	color: var(--primary-hover-color);
}
.menu-item a {
	display: flex;
	align-items: center;
	gap: 17px;
	color: var(--text-color);
	text-decoration: none;
	font-family: Open Sans;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.menu-item__img {
	width: 17px;
	height: 19px;
}

.active {
	color: var(--primary-hover-color);
}
