.item {
	display: flex;
	gap: 20px;
}
.item__image {
	width: 82px;
	height: 82px;
	background-size: cover;
	border-radius: 20px;
}
.item__name {
	color: var(--text-color);
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
}
.item__description {
	flex-direction: column;
	display: flex;
	gap: 10px;
}
.item__price {
	color: var(--primary-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.item__action {
	display: flex;
	gap: 7px;
	align-items: center;
	margin-left: auto;
}

.item__button-decrement {
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 50%;
	background: none;
	width: 29px;
	height: 29px;
	border: 1px solid var(--primary-color);
	justify-content: center;
}

.item__button-increase {
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 50%;
	background: var(--primary-color);
	width: 29px;
	height: 29px;
	border: 1px solid var(--primary-color);
	justify-content: center;
}
.item__button-delete {
	cursor: pointer;
	background: none;
	border: none;
	width: 28px;
	height: 28px;
	margin-left: 5px;
}
.item__action-count {
	color: var(--text-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
