:root {
	--font: 'Open Sans' sans-serif;
	--primary-color: #fe724c;
	--primary-hover-color: #e3623f;
	--text-color: #000;
	--text-secondary-color: #5b5b5e;
	--white-color: #fff;
	--separator-color: #d4d6e0;
}

ul {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
